/* wrap */
.wrap {
    overflow: hidden;
}

/* canvas */
#main {
    z-index: 0;
    position: relative;
}

/* sidebar */
.sidebar {
    position : fixed;
    top : 10px;
    left : 5px;
    background-color: rgb(243, 243, 243);
    width: 220px;
    padding : 15px 15px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#road{
    position : fixed;
    top : 10px;
    left : 250px;
    width: 200px;
    padding : 20px 15px;
    border-radius: 10px;
    z-index: 1;
}
.slider {
    overflow-y: hidden;
    overflow-x: hidden;
}
.slider_describe {
    display: inline-block;
}
.slider_item > input {
    background-color: rgb(243, 243, 243);
    width: 50px;
    border: 0px;
}
.slider_slider {
    margin: 10px;
}
.ui-slider .ui-slider-handle {
    width: 0.9em;
}
.ui-slider-horizontal {
    width : 180px;
    margin-left: 10px;
}
.ui-widget.ui-widget-content, .ui-widget-content {
    border: 0px;
}

/* keyword_search */
.keyword_search {
    width: 160px;
    height: 100px;
    margin-top : 10px; 
    margin-bottom: 65px;
}
#keyword_search_field {
    width : 100px;
    height: 20px;
    padding-left: 5px;
    border-color: rgb(231, 231, 231);
}#keyword_search_field2 {
    width : 100px;
    height: 20px;
    padding-left: 5px;
    border-color: rgb(231, 231, 231);
}
.keyword {
    margin-top: 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(231, 229, 229);
    overflow-x: hidden;
    overflow-y: scroll;
}
.nodeSelected {
    margin-top: 10px;
    width: 200px;
    height: 80px;
    background-color: rgb(231, 229, 229);
    overflow-x: hidden;
    overflow-y: scroll;
}
.lineSelected {
    margin-top: 10px;
    width: 200px;
    height: 80px;
    background-color: rgb(231, 229, 229);
    overflow-x: hidden;
    overflow-y: scroll;
}
.keyword_item {
    margin: 0px 0px;
    padding-left: 5px;
}
.keyword_name {
    display: inline;
    margin-right: 5px;
}
.keyword_delete {
    width: 45px;
}
.choose_color{
    margin-top:10px;
}
.radio{
    margin-top:15px;
}
.current_relation{
    margin-top:3px;
    margin-bottom:3px;
}
.current_node{
    margin-top:3px;
    margin-bottom:3px;
}
label{
    margin-top: 0px;
    margin-bottom: 0px;
}
